<%= flash_message %>
<div class="container">
	<div class="row style_features">
		<div class="col-sm-6">
			<%= button_to 'Regístrate como establecimiento', new_place_path, class: "btn btn-lg btn-success", :method => :get %>
		</div>
		<div class="col-sm-6">
			<%= button_to 'Regístrate como usuario', new_user_path, class: "btn btn-lg btn-success", :method => :get %>
		</div>
	</div>
</div>