.image-meeting-done {
	width: 400px;
	height: 250px;
    margin-left: 52px; 
}

.image-meeting-place {
	width: 100px;
	height:100px;
	margin-left: 61px;
}

.btn-meetings-part {
	padding: 6px 12px;
	font-family: inherit;
    text-transform: none;
    overflow: visible;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 5px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    border: 1px solid transparent;
    border-color: #3E8F3E;
    color: #FFF;
    background-color: #5CB85C;
}

.btn-not-part {
    margin-left: 200px;
}

.btn-meetings-photo {
	padding: 6px 12px;
	font-family: inherit;
    text-transform: none;
    overflow: visible;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    border: 1px solid transparent;
    border-color: #EEA236;
    color: #FFF;
    background-color: #F0AD4E;
}

.btn-user-confirm {
    margin-left: 55px;
}

.img-circle {
    border-radius: 50%;
}

.img-thumbnail-sad {
    display: inline-block;
    width: 400px;
    height: 400px;
    padding: 4px;
    margin-left: 50px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
}

.image-meeting-index {
    width: 300px;
    height:175px;
    margin-top: 10px;
    margin-left: 32px;
    margin-bottom: 5px;
}

.panel-confirm {
    margin-top: 20px;
}

.form-confirm {
    margin-top: 15px;
}

.border-meeting {
    margin-bottom: 10px;
    border-bottom: 2px solid #AAA;
}

.border-meeting-btn {
    margin-top: 10px;
}