.image-container {
	width:150px;
	height:150px;
}

.image-meeting-place {
	width: 100px;
	height:100px;
	margin-left: 61px;
}

.btn-meetings-part {
	padding: 6px 12px;
	font-family: inherit;
    text-transform: none;
    overflow: visible;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    border: 1px solid transparent;
    border-color: #3E8F3E;
    color: #FFF;
    background-color: #5CB85C;
}

.btn-meetings-photo {
	padding: 6px 12px;
	font-family: inherit;
    text-transform: none;
    overflow: visible;
	font-size: 18px;
	line-height: 1.33333;
	border-radius: 6px;
    display: inline-block;
    margin-bottom: 0px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    border: 1px solid transparent;
    border-color: #EEA236;
    color: #FFF;
    background-color: #F0AD4E;
}

.img-circle {
    border-radius: 50%;
}

.img-thumbnail-sad {
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857;
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    transition: all 0.2s ease-in-out 0s;
}