<div class="container">
    <div class="page-header">
        <div class="col-md-12">
            <h1>
            	¡Actualiza la oferta para tus clientes!
            </h1>
        </div>
    </div>
</div>
<div class="container">
	<form class="col-md-4"></form>
	<div class="col-md-4">
	<%= form_for @place, :html => { :multipart => true } do |f| %>
	    <div class="form-group">
	    	<%= f.text_area :offers, class: "form-control input-lg", :placeholder => 'Nueva oferta' %>
	    </div>
	    <div class="form-group">
	    	<%= f.file_field :image_offer %>
	    </div>
	    <div class="form-group">
	    	<%= f.submit '¡Actualizar!', class: "btn btn-primary btn-lg btn-block" %>
	    </div>
	</div>
	<% end %>
	<form class="col-md-4"></form>
</div>